<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:fragment="header">
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </div>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{'/products/{name}'(name=Gaming)}">Gaming</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">TV<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Samsung</a></li>
                        <li><a href="#">LGD</a></li>
                        <li><a href="#">Siemens</a></li>
                    </ul>
                </li>
                <li><a href="#">Mobile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

            </ul>
        </div>
        <div id="id01" class="modal">

                <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <img src="img_avatar2.png" alt="Avatar" class="avatar">
                </div>

                <div class="container">
                    <div th:replace="/login :: logi"/>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>



        </div>
    </nav>

</div>
<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>
