<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <link href="/css/registerstyle.css" rel="stylesheet" media="all" type="text/css">


    <meta charset="UTF-8">
    <title>Registration</title>

    <div th:replace="/fragments/header :: header"/>

</head>
<body>
<div th:replace="/fragments/header :: navbar"/>

<div class="container">

<h1>Login</h1>
    <hr>
<form th:action="@{/login}" id="register-form" method="post" role="form" >



    <div class="form-group">

        <input type="text" name="username" placeholder="username" required="true"/>


    </div>


    <div class="form-group">
        <input type="password" name="password" placeholder="password" required="true"/>
    </div>



    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <input type="submit" value="Login"/>


</form>

</div>

</body>
</html>