<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <link href="/css/registerstyle.css" rel="stylesheet" media="all" type="text/css">


    <meta charset="UTF-8">
    <title>Registration</title>

    <div th:replace="/fragments/header :: header"/>

</head>

<body>
<div th:replace="/fragments/header :: navbar"/>

<div class="container">
<h1>Register account</h1>
<hr>

<form autocomplete="off" action="#" th:action="@{/registration}" id="register-form"
      th:object="${user}" method="post" role="form">


   <div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>

<hr>
    <div class="form-group">
        <label type="text" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger"></label>
        <input type="text" th:field="*{username}" placeholder="username"/>


    </div>


    <div class="form-group">
    <input type="password" th:field="*{password}" placeholder="password" required="true"/>
    </div>
<hr>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <input type="submit" value="Register"/>


</form>
</div>



</body>

</html>