<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header"/>
</head>
<body>
<div th:replace="/fragments/header :: navbar"/>




</body>
<table cellpadding="2" cellspacing="2" border="1">
    <tr>

        <th>Name</th>
        <th>Price</th>
    <tr>
</tr>
    <tbody th:each="product : ${products.entrySet()}" th:remove="tag">
    <tr>
        <td th:text="${product.getKey().nameOfProduct}"></td>
        <td th:text="${product.getKey().priceOfProduct}"></td>
        <td th:text="${product.getValue()}"></td>
        <td><a th:href="@{'/products/remove/{name}' (name=${product.getKey().nameOfProduct})}">Remove from cart</a> </td>
        <td align="center">


        </td>
    </tr>
    <tr>
    </tr>


    </tbody>

</table>

<div class="price-container" th:text="${totalprice}"></div>








</body>
</html>